@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  header {
    @apply bg-white text-black font-thin sm:h-16 md:h-20 h-10 transition-all duration-500 pb-14 sm:pb-14 sm:pt-2
  }
  body{
    @apply bg-white;
  }
  .intro{
    padding:20px;
    background:#eee;
  }
  .intro2{
    padding:20px;
    background:#f3f3f3;
  }
  .intro span {
  background:blue;
  padding:2px;
  }
  main{
  @apply max-w-7xl mx-auto 
  }
  nav{
  @apply float-right p-4
  }
  nav li{
    @apply list-none sm:m-4 sm:inline hidden mt-5 transition-all duration-300
  }
  nav li a{
    @apply bg-white hover:bg-slate-100 transition-colors duration-300 rounded-md p-3 
  }
  .fIcon{
    @apply h-6 w-full my-2 text-blue-500 text-center align-middle
  }
  .feature {
    @apply text-black font-thin text-sm p-2 m-2;
  }
  .contentFeature {
    @apply flex w-full bg-[#f1f1f1] bg-gradient-to-r from-[#eee] h-[200px] my-10 border border-white
  }
  .inverse{
    @apply bg-gradient-to-l from-[#f1f1f1] h-[200px] my-10
  }
  .welcomeFeature {
    @apply pb-10 font-thin text-lg
  }
  .welcomeFeature h2 {
    @apply pt-10
  }
  .menuTab{
    @apply border-b h-[10px] w-[100px] 
  }
  .mTab{
    @apply absolute top-5 right-5
  }
  .mItems{
    @apply bg-white border-2 border-t-0 top-8 absolute right-[-32px] z-40 inline-block text-sm p-2 px-4 border-black
  }
  .mItems div{
    @apply border-b
  }
  .mItem{
    @apply border-b 
  }
  .linky{
    @apply float-right bg-red-400
  }
}